{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	admin 0.0.0.0:2019

	on_demand_tls {
		ask http://opaa-api:3000/public/caddy/ask
	}
}

opiina.com, *.opiina.com {
	tls {
		dns godaddy {env.GODADDY_API_KEY} {env.GODADDY_API_SECRET}
		resolvers 1.1.1.1 8.8.8.8
	}

	@api path /api/* /docs* /openapi* /swagger*
	handle @api {
		reverse_proxy opaa-api:3000
	}

	handle {
		reverse_proxy opaa-web:80
	}
}

import sites/*
