@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tenant-primary: 37 99 235;
  --tenant-secondary: 14 165 233;
}

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
